<html>
  <h2><b>Tiny App  0.0.1</b></h2>
    <% if (user) {%>
      <h2> Hello, <%= user['id'] %> </h2>
        <form action = "/logout" method = "POST">
          <p><input type=  "submit" value= "Logout"> </input></p>
        </form>
    <%} else  { %>
      <div>
        <div>
          <a href= "/register">Register </a>
        </div>
      </div>
    <%} %>
</html>