<html>
  <b>Tiny App Version 0.0.1</b>

    <form action = "/" method = "POST">
    <p>
        <label for = "Username">  </label>
        <input type = "text" name="name" value = "username" ></input>
        <input type=  "submit" value= "Sign In">  </input>
    </p>
    </form>

</html>