<html>
  <b>Tiny App Version 0.0.1</b>

      <% if (username) {%>
        <h2> Hello, <%= username %> </h2>
        <form action = "/logout" method = "POST">
          <p>
            <input type=  "submit" value= "Logout">  </input>
          </p>
        </form>


      <%} else  {  %>
    <form action = "/login" method = "POST">
    <p>
        <label for = "Username">  </label>
        <input type = "text" name="name" value = "username" ></input>
        <input type=  "submit" value= "Sign In">  </input>
    </p>
    </form>
    <%} %>

</html>