<!-- / This endpoint returns a page with a form and an email field. -->
<!Doctype html>
<html lang="en">
  <h2><b>Tiny App 0.0.1</b></h2> <br><br><br>
    <% if (!user === "guest" ) {%>
      <h2> Hello, <%= user['id'] %> </h2>
        <form action = "/logout" method = "POST">
          <p><input type=  "submit" value= "Logout"> </input></p>
        </form>
    <%} else  { %>
      <div>
        <div>
          <!--  <a href= "/register">Register </a> -->
        </div>
        <form action = "/login" method = "POST">
          <input type = "email" name="email" placeholder = "email" ></input>
          <input type = "password" name="password" placeholder = "password" ></input>
          <input type="submit" value= "Log In"></input>
        </form>
        <p>Need an account ? Click <a href = "/register">here to register</p>
    </div>
    <%} %>
</html>