<!-- / This endpoint returns a page with a form and an email field. -->
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>  <h2>User Login page </body></h2> </title>
  </head>
  <body>
    <h2>User Login page </body></h2>
    <form action = "/login" method = "POST">
      <p>
        <input type = "email" name="email" placeholder = "email" ></input>
        <input type = "password" name="password" placeholder = "password" ></input>

       <input type=  "submit" value= "Submit">  </input>
    </p>
  </form>
  </body>
</html>



