<!-- / This endpoint returns a page with a form and an email field. -->

<!Doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>  </title>
  </head>
  <body>
    <form action = "/register" method = "POST">
      <p>
        <label for = "Username">  </label>
        <input type = "text" name="name" placeholder = "username" ></input>
        <input type = "email" name="email" placeholder = "email" ></input>
        <input type = "password" name="password" placeholder = "password" ></input>

       <input type=  "submit" value= "Submit">  </input>
    </p>
  </form>
  </body>
</html>



