<!-- / This endpoint returns a page with a form and an email field. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <h2><title>User Registration</title> </h2>
  </head>
<h2>Tiny App 0.0.1<br><br>User Registration Form.</h2>
 <body>
    <form action = "/register" method = "POST">
      <p>
        Email: <input type = "email" name="email" placeholder = "email" ></input>
        Password: <input type = "password" name="password" placeholder = "password" ></input>
        <input type=  "submit" value= "Submit">  </input>
      </p>
    </form>
  </body>
</html>