<%- include ./partials/_header %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- Add your EJS code here -->
  <ul>
  <% for (var item in urls ) {%>
    <li>Short Url: <%= item %>   Long Url : <%= urls[item] %> </li>
  <% } %>
  </ul>
</body>
</html>