<%- include ./partials/_header %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url Show</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <p>Short Url: <%= shortUrl %> Long Url : <%= longUrl %>  <a href="url/edit">Edit</a>
      <a href= "Delete">Delete </a> </p>
</body>
</html>