<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url Show</title>
  <%- include ./partials/_header %>
</head>
<body>
    <div>
    <!-- Add your EJS code here -->
    <p>Short Url: <%= shortUrl %> Long Url : <%= longUrl %><br><br>
      <a href="url/edit">Edit</a>
      <form action="/urls" method="POST" style="margin:20px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="" width: 400px>
      <input type="submit" value="Submit">
    </form>
    </p>
    </div



</body>
</html>