<%- include ./partials/_header %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url Show</title>
</head>
<body>
    <!-- Add your EJS code here -->

    <p>Short Url: <%= shortUrl %> Long Url : <%= longUrl %> </p>
</body>
</html>