<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url Show</title>
  <%- include ./partials/_header %>
</head>
<body>

  <div>
    <!-- Add your EJS code here -->
    <form action = "/urls/<%= shortUrl %>" method = "POST">
      Short URL:  <%= shortUrl %>
     <p>
        <label for = "LongUrl">  </label>
        <input type = "text" name="longUrl" value = "<%= longUrl %>" ></input>
        <input type=  "submit" value= "Update">  </input>
    </p>

    </form>
  </div>
</body>
</html>